<!DOCTYPE html>
<html lang="fr">
<head>

  <title>agence zahra</title>
  <meta name="keywords" content="école, privé,
formation, bureautique ,services,infographie,management,comptabilité" />
<meta name="description" content="Application web su l'école privée zahra services" />
<meta name="author" content="Chabane Chaouch Zahra" />
<link href="external.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="Jquery1.js"></script>
<script type="text/javascript" src="Jquery2.js"></script>
<script type="text/javascript" src="ajax3.js"></script>


</head>
<body>
	<?php echo "hhh";?>    
	<center>
	   <h1>Services de l'école privée Zahra Services</h1>
	   <h1><bdi></bdi>المدرسة الوطنية العليا للإعلام الألي </h1>
    </center>
    <div  class="contener_slideshow">
    	<div  class="contener_slide">
    		<div class="slid_1"><img src="ImagesetVideos/diapo1.jpg" alt="Image d'accueil" title="Ecole privée ZahraServices"  > </div>
    	    <div class="slid_2"><img  src="ImagesetVideos/diapo2.jpg" alt="Image d'accueil" title="Ecole privée ZahraServices" > </div>
    	    <div class="slid_3"><img  src="ImagesetVideos/diapo3.jpg" alt="Image d'accueil" title="Ecole privée ZahraServices" > </div>
    	     <div class="slid_4"><img  src="ImagesetVideos/diapo4.jpg" alt="Image d'accueil" title="Ecole privée ZahraServices" > </div>
        </div>
    </div>
	</center>
    <br/>
    <h2>Secteurs d'activité : </h2>
	<ul class="menu">
		<li class="formation"> 
			<a href="bureautique.html">Bureautique </a>
		</li>
		<li class="formation"> 
			<a href="infographie.html">Infographie </a>
			<ul>
				<li><a href="langues.html">design</a></li>
				<li><a href="langues.html">video</a></li>
			</ul>
		</li>
		<li class="formation"><a href="langues.html">Langues</a></li>
		<li class="formation"><a href="management.html">Management</a> </li>
		<li class="formation"><a href="comptabilite.html">Comptabilité </a></li>
	</ul>
    <br/>
    <center>
    <video src="ImagesetVideos/Video accueil.mp4" width="80%" height="400" preload="auto" controls/>
    </center>
    <br/>
    <h2>Nos formations  </h2>
    <br>
    <br>
    <center>
    <div id="formulaire1">
    <form>
         Formation:<br>
        <input type="text" name="formation"><br>
         Volume horaire:<br>
        <input type="text" name="volume"><br>
         Prix HT:<br>
        <input type="text" name="ht"><br>
         Taux :<br>
        <input type="text" name="taux"><br>
        <input type="submit" value="Submit" class="sub">

    </form>
</div>
</center>
    <center>
    <table border="1" class="tableau">
    	<thead>
    		<tr>
    			<th scope="col">Formation</th>
    			<th scope="col">Volume Horaire</th>
    			<th scope="col">Prix HT</th>
    			<th scope="col">Taux </th>
    			<th scope="col">Prix TTC</th>
    		</tr>	
    	</thead>
    	<tbody>
    		<tr>
    			<th scope="row">Management </th>
    			<td> 30h </td>
    			<td class="HT"> 18000 DA </td>
    			<td class="taux"> 18 </td>
    			<td class="TTC"></td>
    		</tr>
    		<tr>
    			<th scope="row">Marketing </th>
                <td> 30h </td>
    			<td class="HT"> 18000 DA </td>
    			<td class="taux"> 18 </td>
    			<td class="TTC"></td>
    		</tr>
    		<tr>
    			<th scope="row">Devellopement web </th>
    			<td>10 h</td>
    			<td class="HT">19000 DA</td>
    			<td class="taux"> 18 </td>
    			<td class="TTC"></td>
    		</tr>
    		<tr>
    			<th scope="row">Devellopement mobile</th>
    			<td> 15 h </td>
    			<td class="HT">25000 DA</td>
    			<td class="taux"> 9 </td>
    			<td class="TTC"></td>
    		</tr>
    		<tr>
    			<th scope="row">Photoshop</th>
                <td> 15 h </td>
    			<td class="HT"> 10000 DA </td>
    			<td class="taux"> 9 </td>
    			<td class="TTC"></td>
    		</tr>
    	</tbody>
    </table>
    </center>
    <br>
    <br>
    <center>

</center>
  
</body>

<footer>
	<p class="lien"><a href="fz_chabanechaouch@esi.dz">Contactez-nous</a></p>
</footer>

</html>



      